body, html{
  margin: 0;
  text-align: center;
}

.buscador{
  margin-top: -22px;
  padding: 40px 0px;
  background-image: url(https://cdn.pixabay.com/photo/2017/06/23/17/46/desert-2435404__340.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
  font-size: 1.55em;
  margin-bottom: 50px;
  height: 50vh;
}

.buscador h1{
  margin-top: 15vh;
  color: rgb(32, 30, 30);
}

.image{
  height: 15vw;
  margin: 5px;
  display: inline-block;

  border-radius: 5px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
}

.input{
  height: 40px;
  border-radius: 3px;
  width: 30vw;
  padding: 0 1vw;
  border: 0px solid;
}


.button{
  margin-left: 5px;
  height: 40px;
  width: 80px;
  cursor: pointer;
}

form div{
  display: inline-block;
}

a{
  text-decoration: none;
  color: rgb(172, 212, 112);
}

.image{
  cursor: pointer;
}
.content{
  visibility: hidden;
}
.body > .content{
  background-color: greenyellow;
}

input[type=search] {
  font-size: 1.3rem;
  padding: 2px 7px;
  border-radius: 4px;
  box-shadow: none;
  border: 1px solid #d6d6d6;
  background: #efefef;
}


